  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proifile card</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <aside class="profile-card">
      <header>
        <a target="_blank" href=" ">
        <img src="/static/css/piyu.jpg" class="hoverZoomLink">
        </a>
        <h1>PIYU SORATHIYA </h1>
        <h2> Computer Science Student</h2>
      </header>
      <div class="profile-bio">
        <p>
          I'm currently studying Computer Science and engineering at the Parul university of enginering and technology.
        </p>
    
      </div>
  
      <ul class="profile-social-links">
        <li>
          <a target="_blank" href="https://www.snapchat.com/add/piyuuu0831?share_id=mPUCu9uDzCo&locale=en-US">
            <i class="fa fa-snapchat"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.snapchat.com/add/piyuuu0831?share_id=mPUCu9uDzCo&locale=en-US">
            <i class="fa fa-telegram"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://instagram.com/_piyusorathiya_?utm_medium=copy_link">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/PriyankaSorathiya">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>
    </aside>
  </body>
  </html>